/*Common Layout page CSS*/
.cntrheaderlleft {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    border: ridge;
}

.cntrheaderlright {
    text-align: right;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-right: 0px;
}

.cntrheaderlcenter {
    text-align: center;
    margin-top: 17px;
}

.divheaderbody {
    border: ridge;
    margin: 10px;
}

.divbody {
    border: ridge;
    width: 70%;
}

.mir {
    margin: 4px;
}

.Actionbtn {
    width: 130px;
}

/*Login Page CSS*/
.cntrlLeftLogin {
    padding: 8px;
    text-align: right;
    margin-top: 14px;
    padding-right: 22px;
}

.cntrlRightLogin {
    padding: 8px;
    text-align: left;
    margin-top: 8px;
    padding-left: 10px;
}

.divbodyLogin {
    border: ridge;
    padding: 20px;
}

/*Broker/UnderWriter Dash Board CSS*/
.table th {
    text-align: center;
}

.table td {
    text-align: center;
}


/*Create Case CSS*/
.CreateCaseActionbtn {
    width: 100px;
}

/*Underwriter EditCase CSS*/
.UWEditCasemrgbtm {
    margin-bottom: 15px;
}

.UWEditCasemrgbtn {
    margin-bottom: 15px;
    margin-top: 30px;
}

.UWEditCaseactionbtn {
    width: 100px;
}